*,
*::before,
*::after {
  margin: 0;
}
* {
  padding: 0;
  border: 0;
  outline: none;
  box-sizing: border-box;

  background: transparent;

  text-decoration: none;
  -webkit-font-smoothing: antialiased;
}

// html,
// body {
//   height: 100%;
// }

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

ol,
ul,
li {
  list-style: none;
  display: block-line;
}

a img {
  border: none;
}

img,
picture,
video,
canvas,
svg {
  max-width: 100%;
  display: block;
}

button,
a {
  cursor: pointer;
  color: inherit;
}

textarea {
  resize: none;
}

button,
input,
textarea,
select {
  font-family: inherit;
  appearance: none !important;
  -webkit-appearance: none !important;
  border-radius: 0;
}

:root {
  --clr-black: hsl(0, 0%, 8%);
  --clr-white: hsl(0, 0%, 98%);
  --clr-gray: hsl(0, 0%, 41%);

  --ff-main: "Epilogue", sans-serif;
  --ff-size: 18px;
}

$mobil: 375px;
$notepad: 750px;
$desktop: 1440px;

@mixin mobil {
  @media (max-width: #{$mobil}) {
    @content;
  }
}
@mixin notepad {
  @media (max-width: #{$notepad}) {
    @content;
  }
}
@mixin desktop {
  @media (min-width: #{$desktop}) {
    @content;
  }
}

body {
  background-color: var(--clr-white);

  font-family: var(--ff-main);
  font-size: var(--ff-size);
  color: var(--clr-black);
  min-width: $mobil;
  max-width: $desktop;
}

.header__mobil,
.header__desktop {
  nav {
    flex-direction: row;
    justify-content: space-between;
    margin: 10px;
  }
}

.header__desktop {
  display: block;
  nav {
    display: flex;
    ol {
      display: flex;
      gap: 15px;

      li {
        display: flex;
        align-items: center;
        gap: 5px;
      }
    }
  }

  @include notepad {
    display: none;
  }
}

.header__mobil {
  display: none;
  @include notepad {
    display: flex;
    justify-content: space-between;
    margin: 30px 15px;
  }
}

main {
  display: flex;
  flex-direction: column;
  flex: 1;

  @include desktop {
    flex-direction: row-reverse;
    margin: 15px;
  }
}

article {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px;
}

h1 {
  font-size: 2.1rem;
  font-weight: 700;
  text-align: center;
}

p {
  text-align: center;
  line-height: 1.7;
  padding: 20px;
}

.btn {
  background-color: var(--clr-black);
  color: var(--clr-white);
  margin: auto;
  margin-bottom: 25px;
  padding: 8px 12px 5px;
  border-radius: 5px;
}

.logo__container {
  display: flex;
  justify-content: space-between;
  img {
    max-width: 20%;
  }
}
