*,
*::before,
*::after {
  margin: 0;
}

* {
  padding: 0;
  border: 0;
  outline: none;
  box-sizing: border-box;
  background: transparent;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

ol,
ul,
li {
  list-style: none;
  display: block;
}

a img {
  border: none;
}

img,
picture,
video,
canvas,
svg {
  max-width: 100%;
  display: block;
}

button,
a {
  cursor: pointer;
  color: inherit;
}

button {
  font-family: inherit;
  -moz-appearance: none !important;
       appearance: none !important;
  -webkit-appearance: none !important;
  border-radius: 0;
}

:root {
  --clr-black: hsl(0, 0%, 8%);
  --clr-white: hsl(0, 0%, 98%);
  --clr-gray: hsl(0, 0%, 41%);
  --ff-main: "Epilogue", sans-serif;
  --ff-size: 18px;
}

body {
  background-color: var(--clr-white);
  font-family: var(--ff-main);
  font-size: var(--ff-size);
  color: var(--clr-black);
  min-width: 375px;
  max-width: 1440px;
  min-height: 100vh;
  overflow-x: hidden;
}

.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.sr-only {
  visibility: hidden;
  width: 0;
  height: 0;
}

.mobile-header {
  align-items: center;
  margin: 15px;
}
.mobile-header .nav-toggle {
  display: none;
}
@media (max-width: 750px) {
  .mobile-header .nav-toggle {
    display: block;
    position: absolute;
    z-index: 100;
    background: url("./images/icon-menu.svg");
    background-repeat: no-repeat;
    top: 2rem;
    right: min(1rem, 10px);
    width: 1rem;
    aspect-ratio: 1;
  }
}
.mobile-header .nav-mobile {
  display: flex;
  justify-content: space-between;
  background-color: cornflowerblue;
}
.mobile-header .nav-mobile ul {
  display: flex;
  gap: 15px;
}
.mobile-header .nav-mobile ul li {
  display: flex;
  align-items: center;
  gap: 5px;
}
.mobile-header .nav-mobile ul li:hover {
  font-weight: 600;
}
@media (max-width: 750px) {
  .mobile-header .nav-mobile {
    transform: translateX(100%);
    position: fixed;
    z-index: 2;
    inset: 0 0 0 30%;
    flex-direction: column;
    background-color: burlywood;
    padding: min(30vh, 10rem) 2em;
  }
  .mobile-header .nav-mobile .nav-mobile[data-vision=true] {
    transform: translateX(0%);
  }
}
.mobile-header .button__container {
  margin-left: auto;
  display: flex;
  gap: 1rem;
  align-items: center;
}
@media (max-width: 750px) {
  .mobile-header .button__container {
    display: none;
  }
}

main {
  display: flex;
  flex-direction: column;
}
@media (min-width: 1440px) {
  main {
    flex-direction: row-reverse;
    margin: 15px;
  }
}

article {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px;
}

h1 {
  font-size: 2.1rem;
  font-weight: 700;
  text-align: center;
}

p {
  text-align: center;
  line-height: 1.7;
  padding: 20px;
}

.btn {
  background-color: var(--clr-black);
  color: var(--clr-white);
  margin: auto;
  padding: 8px 12px 5px;
  border-radius: 5px;
}

.logo__container {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}
.logo__container img {
  max-width: 20%;
}/*# sourceMappingURL=style.css.map */